<title>MoodleNet</title>
<meta name="description" content="MoodleNet - Design Components System and styleguide" />
<meta property="og:site_name" content="MoodleNet" />
<link rel="canonical" href="https://gitlab.com/MoodleNet/frontend"/>

<!-- Bots -->
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">

<!-- Favs -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#22272b">